body {
    background-color: black;
    color: white;
    margin: 0px;
}

header {
    font-size: 45px;
    color: yellow;
    border-bottom: solid 15px gray;
    text-align: center;
}

.primeira{
    display: flex;
    background-color: black;
    padding: 30px;
    justify-content: center;
    margin-top: 20px;
}

.texto{
    margin-right: 5%;
}

img {
    width: 210px;
    height: 280px;
}
.segunda {
    justify-content: center;
    margin-bottom: 80px;
    padding: bottom 30px;
}

h2{
    text-align: center;
}

.outros {
    justify-content: center;
    margin-left: 10%;
}