body {
    background-color: black;
    color: white;
}

header {
    font-size: 45px;
    color: yellow;
    border-bottom: solid 15px gray;
    text-align: center;
}

section{
    display: flex;
    background-color:  rgba(255, 255, 72, 0.84);
}